
.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: #111;
  color: white;
  padding-left:3.9rem;
}

.movie{
  margin-top:6rem;
  position:relative;
}
.movie__title {
  margin: 0;
}

.movie__title, .movie__year {
  text-align: center;
  padding-right:5rem;
}

.wrapper2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #111;
  color: white;
  padding-right:3.9rem;
}
