*{
  background-color:#111;
}
.movies{
  display:flex;
  justify-content: space-around;
  align-items: center;
}
.title{
  color:white;
  font-weight:bold;
  text-align: center;
  font-size:2rem;
  margin-top:1rem;
}
.year{
  color:rgb(204, 196, 196);
  text-align: center;
  margin-top:1rem;
  font-size:1.7rem;
}

@media(max-width:400px){
  
}